.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loder {
  position: absolute;
  z-index: 3;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid #f58634;
  animation-name: loder;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes loder {
  0% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: rotateZ(0deg);
  }

  50% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: rotateZ(3600deg);
  }

  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: rotateZ(0deg);
  }
}

body {
  margin: 0px;
  overflow-x: hidden !important;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #ffffff !important;
}

.abadab {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  background-color: white;
  padding: 15px 0px;
  margin-top: 0px;
  display: block;
  overflow: auto;
  font-size: 17px;
  text-align: left;
}
.date {
  background-color: white;
  opacity: 0.5;
  padding-left: 2px;
  float: right;
}
.li {
  opacity: 0.5;
  text-align: justify;
  padding-left: 10px;
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }
}
.catgirise {
  background-color: red;
  color: #f2f2f2;
  opacity: 0.7;
  padding: 2px 10px;
  float: left;
  width: fit-content;
}
.parastyle {
  font-size: 22px;
  color: rgb(73, 73, 73);
  font-family: serif;
  text-align: justify;
}

.headstyle {
  font-size: 40px;
  font-family: serif;
  text-align: justify;
}
.arcticlename {
  font-size: 42px;
  font-family: serif;
  text-align: center;
}
@media screen and (max-width: 600px) {
  ph {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  pc {
    font-size: 15px;
  }
}

table {
  vertical-align: middle;
  font-size: 20px;
}
th {
  font-size: 17px;
  font-weight: 100;
  padding: 0px 5px;
}
table p {
  font-size: 20px;
}
hr {
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-family: serif;
}
.card2 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-family: serif;
}

.cardnext {
  color: black;
  background-color: white;
  padding: 0.1px 0px;
  margin-top: 0px;
  display: block;
  overflow: auto;
  font-size: 17px !important;
}

#myBtn {
  width: 100%;
  display: block;
  font-size: 20px;
  border: none;
  background-color: #ff4e4e;
  color: white;
  padding: 0px;
  border-radius: 2px;
}

#myBtn:hover {
  opacity: 0.7;
}

.gototop {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  background: #ff4e4e;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.footer {
  height: 60px;
  bottom:0 !important;
  opacity: 0.9;
  width: 100%;
  margin: 30px 0px 0px 0px;
  background-color: rgb(0, 0, 0);
}
.icon {
  line-height: 60px;
  padding: 15px;
  z-index: 99;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: red;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ff9999;
}


.parallax {
  min-height: 281px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (max-width: 1233px) {
  .parallax {
    min-height: 305px;
  }
}

@media screen and (max-width: 1013px) {
  .parallax {
    min-height: 329px;
  }
}

@media screen and (max-width: 870px) {
  .parallax {
    min-height: 353px;
  }
}

@media screen and (max-width: 765px) {
  .parallax {
    min-height: 385px;
  }
}

@media screen and (max-width: 732px) {
  .parallax {
    min-height: 409px;
  }
}

@media screen and (max-width: 662px) {
  .parallax {
    min-height: 433px;
  }
}

@media screen and (max-width: 582px) {
  .parallax {
    min-height: 457px;
  }
}

@media screen and (max-width: 540px) {
  .parallax {
    min-height: 481px;
  }
}

@media screen and (max-width: 300px) {
  .parallax {
    min-height: 600px;
  }
}

.containerpara {
  position: relative;
  font-family: Arial;
}

.text-blockpara {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: justify;
  text-justify: inter-word;
  background-color: black;
  opacity: 0.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

p1 {
  color: yellow;
  font-size: 20px;
  font-family: roboto mono, monospace;
}

p2 {
  color: white;
  font-size: 20px;
  font-family: roboto mono, monospace;
}

@media screen and (max-width: 500px) {
  p1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  p2 {
    font-size: 20px;
  }
}

.parabutton a {
  float: none;
  background-color: yellow;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 24px;
  width: 400px;
  margin: 13px;
  font-family: roboto mono, monospace;
}
.parabutton a:hover {
  background-color: red;
  color: white;
}

@media screen and (max-width: 500px) {
  .parabutton,
  .parabutton a {
    font-size: 20px;
    padding: 14px 16px;
    width: 400px;
    margin: 0px;
  }
}

p3 {
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  p3 {
    font-size: 25px;
  }
}

img.a {
  vertical-align: middle;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(0, 0, 0);
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ff4e4e;
  font-size: 12px;
}

.login-box form button {
  border: none;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ff4e4e;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #ff4e4e;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff4e4e, 0 0 25px #ff4e4e, 0 0 50px #ff4e4e,
    0 0 100px #ff4e4e;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff4e4e);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff4e4e);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff4e4e);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff4e4e);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}












.header {
  overflow: hidden;
  background-color: white;
  padding: 10px 0px;
  z-index: 50;
  box-shadow: 8px;
}

.header a {
  float: left;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.603);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header a:hover {
  color: blue;
}

.headerright {
  float: right;
  min-width: 10%;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header img {
    float: left;
  }
}
.search {
  display: none;
}
.search1 {
  display: block;
}
@media screen and (max-width: 1100px) {
  .headerright {
    float: none;
    display: none;
  }
  .search {
    display: block;
  }
  .search1 {
    display: none;
  }
}


.topnavx {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.topnavx a {
  float: left;
  display: block;
  color: rgba(0, 0, 0, 0.603);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  min-width: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.activex {
  border-bottom: 2px solid rgba(255, 0, 0, 0.603);
}

.iconnav {
  display: none;
  float: right;
  right: 10px;
  top: 10px;
  position: absolute;
}

.closenav {
  position: fixed;
  z-index: -100;
  display: none ;
  right: 10px;
  top: 10px;
}

.dropdownx {
  float: left;
  overflow: hidden;
}

.dropdownx .dropbtnx {
  font-size: 17px;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.603);
  padding: 10px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdownx-contentx {
  right: -200px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 1s;
}

.dropdownx-contentx a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}

.topnavx a:hover,
.dropdownx:hover .dropbtnx {
  border-bottom: 2px solid blue;
}


.dropdownx:hover .dropdownx-contentx {
  right: 0px;
}

@media screen and (max-width: 1100px) {
  .topnavx {
    position: fixed;
    bottom: 0;
    right: -80%;
    width: 80%;
    height: 100%;
    z-index: 99;
    text-align: left;
    overflow-y: auto;
  }
  .topnavx a {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
  }

  .topnavx a.icon {
    float: right;
    display: block;
  }
  .iconnav {
    display: block;
  }

  .topnavx a:hover,
  .dropdownx:hover .dropbtnx {
    border-bottom: 2px solid blue;
  }
  
  
  .dropdownx:hover .dropdownx-contentx {
    right: auto;
  }
}